mixin casting()
  section.casting
    h2.visually-hidden Выбор попутчиков по интересам
    .container
      .casting__wrapper
        .casting__selection
          +selection()
        .casting__candidates
          +candidates()
    .casting__fond-bottom
