.btn {
  padding: 33px;
  height: 80px;
  width: fit-content;
  min-width: 284px;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;

  color: $color-catalina-blue;
  font-size: 24px;
  font-weight: 700;

  background-color: $color-pale-blue;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  @include vp-1023 {
    min-width: 276px;
  }

  @include vp-767 {
    min-width: 263px;
    height: 76px;
  }

  &--red {
    background-color: $color-light-coral;
  }

  &--trans {
    background-color: $color-transparent;
    border: 3px solid $color-accent-main;
  }

  &--line {
    padding: 0;
    border-radius: 4px;
    width: 288px;
    height: 8px;
    background: $color-picton-blue;

    @include vp-767 {
      border-radius: 4px;
      width: 172px;
      max-width: 172px;
      min-width: 172px;
      height: 5px;
      background: $color-default-white;
    }
  }

  &--text {
    padding: 0;
    width: fit-content;
    min-width: fit-content;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-accent-main;
    background-color: $color-transparent;

    opacity: 0.3;

    @include vp-767 {
      height: 27px;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: 0.05em;
    }
  }

  &--text.is-active {
    opacity: 1;
  }

  &--letter {
    padding: 0;
    width: fit-content;
    min-width: fit-content;

    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
    color: $color-accent-main;
    background-color: $color-transparent;

    opacity: 0.3;

    @include vp-767 {
      display: flex;
      justify-content: center;
      width: 42px;
      min-width: 42px;
      height: 40px;
      font-size: 14px;
      line-height: 100%;
      background-color: $color-default-white;
      border-radius: 0;
      opacity: 1;
    }
  }

  &--letter.is-active {
    opacity: 1;

    @include vp-767 {
      color: $color-default-white;
      background-color: $color-catalina-blue;
    }
  }

  &--catalog {
    padding: 17px;
    width: 150px;
    min-width: 150px;
    height: 50px;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    border-radius: 25px;
  }

  &--number {
    padding: 10px;
    width: 50px;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    border-radius: 50%;

    background-color: $color-transparent;
  }

  &--number.is-active {
    background-color: $color-picton-blue;

    @include hover-focus {
      opacity: 1;
      cursor: auto;
    }

    &:hover:active {
      opacity: 1;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
