.candidates {
  margin-bottom: 125px;

  @include vp-1023 {
    margin-bottom: 112px;
  }

  @include vp-767 {
    margin-bottom: 94px;
  }

  &__candidates {
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 30px;

    @include vp-1023 {
      margin-bottom: 50px;
      gap: 39px;
    }

    @include vp-767 {
      margin-bottom: 20px;
      align-items: center;
      gap: 10px;
    }
  }

  &__candidate {
    max-width: 951px;
    width: 100%;
    min-height: 286px;
    display: grid;
    grid-template-columns: 30% minmax(226px, 30%) minmax(226px, 30%);
    grid-template-rows: 94px 87px 104px;
    column-gap: 3%;
    row-gap: 0;
    justify-content: space-between;
    align-items: start;
    background-color: $color-default-white;
    border-radius: 20px;
    overflow: hidden;

    @include vp-1023 {
      padding: 35px 25px 25px 35px;
      grid-template-columns: 190px 314px auto;
      grid-template-rows: 46px 62px 104px;
      column-gap: 29px;
    }

    @include vp-767 {
      position: relative;
      padding: 14px 20px 23px 18px;
      max-width: 270px;
      min-height: 393px;
      grid-template-columns: 70px 1fr;
      grid-template-rows: 70px 36px min-content auto;
      column-gap: 16px;
      row-gap: 14px;
    }

    &--tanya {
      @include vp-767 {
        min-height: 416px;
      }

      .candidates__call {
        display: none;
      }

      .candidates__transport-list li:not(:first-child) svg {
        opacity: 0.3;
      }
    }

    &--petya {
      .candidates__countries-item:last-child {
        display: none;
      }

      .candidates__transport-bike svg {
        opacity: 0.3;
      }
    }

    &--mark {
      .candidates__level {
        position: relative;
      }

      .candidates__level-icon {
        position: absolute;
        width: 34px;
        height: 34px;
        top: 0;
        right: 0;

        @include vp-767 {
          width: 25px;
          height: 24px;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &--larisa {
      .candidates__countries-item:last-child {
        display: none;
      }

      .candidates__level {
        position: relative;
      }

      .candidates__level-icon {
        position: absolute;
        width: 34px;
        height: 64px;
        top: 0;
        right: 0;

        @include vp-767 {
          width: 25px;
          height: 47px;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .candidates__transport-bike svg,
      .candidates__transport-men svg {
        opacity: 0.3;
      }
    }

    @include hover-focus {
      cursor: pointer;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__photo {
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: end;
    width: 285px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    overflow: hidden;

    @include vp-1023 {
      grid-column: 1/2;
      grid-row: 1/4;
      width: 190px;
      height: 190px;
      border-radius: 20px;
    }

    @include vp-767 {
      grid-row: 1/2;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }

  &__image {
    width: 300px;
    height: 100%;

    @include vp-1023 {
      width: 190px;
      height: 190px;
    }

    @include vp-767 {
      width: 70px;
      height: 70px;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__name {
    width: fit-content;
    margin-top: 45px;
    grid-column: 2/3;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include vp-1023 {
      margin-top: 0;
    }

    @include vp-767 {
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
    }

    svg {
      position: absolute;
      width: 8px;
      height: 8px;
      top: 50%;
      transform: translateY(-50%);
      left: -24px;

      @include vp-1023 {
        left: auto;
        right: -31px;
      }

      @include vp-767 {
        margin-top: 10px;
        margin-right: 3px;
        position: relative;
        width: 6px;
        height: 6px;
        order: 1;
        right: 0;
      }
    }

    h3 {
      margin: 0;
      font-weight: 700;
      font-size: 30px;
      line-height: 100%;
      text-align: center;
      color: $color-catalina-blue;

      @include vp-767 {
        font-size: 21px;
        line-height: 100%;
        text-align: left;
      }

      @include vp-767 {
        width: 77px;
      }
    }

    &__icons {
      width: 130px;
      display: flex;
      gap: 8px;
    }
  }

  &__hashtags {
    width: 230px;
    grid-column: 2/3;
    grid-row: 2/3;

    p {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      color: $color-default-black;

      @include vp-767 {
        width: 200px;
        font-size: 15px;
        line-height: 120%;
      }
    }

    @include vp-767 {
      padding-left: 6px;
      grid-column: 1/-1;
    }
  }

  &__call {
    padding-top: 5px;
    margin-left: -3px;
    grid-column: 2/3;
    grid-row: 3/4;

    display: flex;
    align-items: center;
    gap: 5px;

    @include vp-1023 {
      padding-top: 32px;
      gap: 8px;
    }

    @include vp-767 {
      padding-top: 0;
      min-height: 40px;
      grid-column: 1/-1;
      grid-row: 5/6;
    }
  }

  &__button {
    padding: 17px;
    width: 150px;
    min-width: 150px;
    height: 50px;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    border-radius: 25px;

    @include vp-1023 {
      width: 170px;
      min-width: 170px;
    }

    @include vp-767 {
      width: 100%;
      height: 40px;
      font-size: 17px;
    }
  }

  &__likes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-1023 {
      gap: 7px;
    }

    @include vp-767 {
      position: absolute;
      width: 71px;
      height: 30px;
      top: 53px;
      left: 70px;
    }
  }

  &__likes-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-lavender;

    svg {
      width: 20px;
      height: 20px;
    }

    @include vp-767 {
      width: 30px;
      height: 30px;

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__likes-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 14px;
      line-height: 114%;
    }
  }

  &__countries {
    grid-column: 3/4;
    grid-row: 1/3;

    @include vp-1023 {
      grid-column: 1/4;
      grid-row: 4/5;
    }

    @include vp-767 {
      padding-left: 7px;
      grid-column: 1/-1;
      grid-row: 3/4;
    }
  }

  &__subtitle {
    display: none;

    @include vp-1023 {
      position: relative;
      margin-left: 50px;
      font-weight: 400;
      font-size: 15px;
      line-height: 107%;

      display: flex;

      @include vp-767 {
        font-size: 14px;
        line-height: 114%;
      }

      &::before {
        content: "";
        position: absolute;
        top: calc(50% + 1px);
        right: -25px;
        width: 87%;
        height: 1px;
        background-color: $color-solitude;
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(50% + 1px);
        left: -125px;
        width: 17%;
        height: 1px;
        background-color: $color-solitude;
      }

      @include vp-767 {
        margin-left: 0;

        &::before {
          width: 138px;
        }

        &::after {
          left: -18px;
          width: 15px;
        }
      }
    }

    &--mobile {
      @include vp-1023 {
        display: none;
      }

      @include vp-767 {
        display: block;

        &::before {
          width: 91px;
          right: -48px;
        }
      }
    }

    &--mobile-level.candidates__subtitle--mobile {
      position: absolute;
      width: 43px;
      height: 16px;
      top: -25px;
      right: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 114%;

      &::before {
        display: none;
      }

      &::after {
        right: -18px;
        left: auto;
        width: 15px;
      }
    }
  }

  &__countries-list {
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include vp-1023 {
      margin-top: 21px;
      flex-direction: row;
      gap: 20px;
    }

    @include vp-767 {
      margin-top: 18px;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__countries-item {
    display: flex;
    gap: 13px;

    @include vp-1023 {
      align-items: flex-end;
      gap: 14px;
    }
  }

  &__flag {
    @include vp-1023 {
      width: 40px;
      height: 24px;

      svg {
        width: 40px;
        height: 24px;
        object-fit: cover;
      }
    }

    @include vp-767 {
      width: 26px;
      height: 18px;

      svg {
        width: 26px;
        height: 18px;
      }
    }
  }

  &__country {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 15px;
      line-height: 107%;
    }
  }

  &__block {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    gap: 43px;

    @include vp-1023 {
      grid-column: 3/4;
      grid-row: 1/4;
      flex-direction: column;
      gap: 6px;
    }

    @include vp-767 {
      position: relative;
      grid-column: 1/-1;
      grid-row: 4/5;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__level {
    order: 1;
    position: relative;
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include vp-767 {
      position: relative;
      width: 45px;
      height: 45px;
    }
  }

  &__level-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    z-index: 1;

    &::after {
      content: "level";
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      text-decoration: overline;
      z-index: 1;
    }

    @include vp-767 {
      order: 1;

      &::after {
        display: none;
      }
    }
  }

  &__level-icon {
    svg {
      position: absolute;
      width: 60px;
      height: 60px;
      inset: 0;

      @include vp-767 {
        width: 45px;
        height: 45px;
      }
    }
  }

  &__transport {
    @include vp-767 {
      margin-bottom: 7px;
    }

    span {
      @include vp-767 {
        padding-left: 7px;
      }
    }
  }

  &__transport-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    gap: 14px;

    @include vp-1023 {
      margin-top: 5px;
      flex-direction: column;
      gap: 5px;
    }

    @include vp-767 {
      margin-top: 14px;
      flex-direction: row;
      gap: 1px;

      li {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $color-solitude;
      }
    }
  }

  &__pagination {
    width: 100%;
    max-width: 949px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  &__pagination-plus {
    margin-right: 20px;
    position: relative;
    justify-self: center;

    gap: 24px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;

    @include vp-1023 {
      margin-left: 56px;
      margin-right: 0;
      margin-bottom: 48px;
    }

    &::before {
      content: "+";
      position: absolute;
      left: -50px;
      top: -2px;
      font-weight: 300;
      font-size: 48px;
    }

    @include vp-767 {
      margin-bottom: 18px;
      font-size: 17px;
      line-height: 176%;

      &::before {
        top: -1px;
        left: -39px;
        font-size: 34px;
      }
    }

    @include hover-focus {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__buttons-page {
    padding: 26px 29px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $color-default-white;
    border-radius: 20px;

    @include vp-1023 {
      padding-right: 15px;
    }

    @include vp-767 {
      padding: 0;
      width: 270px;
    }
  }

  &__pages,
  &__arrows {
    display: flex;
  }

  &__pages {
    @include vp-767 {
      display: none;
    }
  }

  &__arrows {
    @include vp-767 {
      width: 100%;
      justify-content: space-around;
    }
  }

  &__arrow {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 11px;
      height: 18px;
    }

    &--prev {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
