.directions {
  margin-bottom: 47px;
  position: relative;

  @include vp-767 {
    margin-bottom: 0;
  }

  .container {
    padding-top: 67px;
    padding-left: 61px;
    padding-right: 60px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: minmax(460px, 623px) minmax(480px, 518px);
    grid-template-areas:
      "slider block"
      "slider button";
    justify-content: space-between;
    column-gap: 4%;


    @include vp-1279 {
      padding: 0 40px;

      padding-top: 67px;
      padding-bottom: 50px;
    }

    @include vp-1023 {
      padding: 53px 60px 60px 73px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "block"
        "slider"
        "button";
      gap: 19px;
    }


    @include vp-767 {
      padding: 52px 25px;
      gap: 7px;
    }
  }

  &__fond {
    position: absolute;
    top: -60px;
    left: 0;
    height: calc(100% + 171px);
    width: 52%;
    background-color: $color-solitude;
    z-index: -15;
    border-radius: 0 0 60px 60px;

    @include vp-1023 {
      width: 100%;
      height: calc(100% + 100px);
    }

    @include vp-767 {
      padding: 0 25px;
      height: calc(100% + 61px);

      border-radius: 0 0 30px 30px;
    }
  }

  &__block {
    margin-left: auto;
    padding-top: 24px;
    grid-area: block;
    width: 100%;

    @include vp-1023 {
      width: 100%;

      padding-top: 0;
    }

    @include vp-767 {
      margin-bottom: 5px;
    }
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 75px;
    line-height: 60%;
    font-variant: all-small-caps;
    color: $color-accent-main;

    @include vp-1023 {
      margin-bottom: 56px;

      font-size: 95px;
      line-height: 47%;
    }

    @include vp-767 {
      margin-top: 0;
      margin-bottom: 27px;
      font-size: 44px;
      line-height: 55%;
      font-variant: all-small-caps;
      color: $color-catalina-blue;
    }
  }

  &__text {
    width: 100%;
    font-weight: 500;
    font-size: 23px;
    line-height: 143%;
    color: $color-charcoal;

    @include vp-767 {
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
    }
  }

  &__slider {
    position: relative;

    padding-right: 10px;
    padding-left: 10px;

    grid-area: slider;
    max-width: 650px;
    width: 100%;
    max-height: 458px;

    @include vp-1023 {
      padding-right: 0;
      margin-left: -10px;
    }

    @include vp-767 {
      margin-bottom: 0;

      max-width: 100%;
      width: 100%;
      min-width: 100%;
      height: 100%;
      max-height: 100%;
      min-height: 632px;
    }
  }

  &__grad-top {
    position: absolute;
    width: 100%;
    height: 81px;
    top: 0;
    left: 0;
    z-index: 2;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__grad-bottom {
    position: absolute;
    width: 100%;
    height: 81px;
    bottom: -22px;
    left: 0;
    z-index: 2;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__slides {
    margin: 0;
    margin-top: 141px;
    padding: 0;
    padding-top: 29px;

    max-width: 642px;
    width: 100%;
    max-height: 100%;

    list-style: none;

    align-items: center;
    justify-content: flex-start;

    @include vp-767 {
      margin-top: 0;
      padding-top: 15px;

      flex-direction: column;

      max-width: 100%;
      width: 100%;
      min-width: 270px;
      height: 100%;
      min-height: 632px;
      gap: 8px;
    }
  }

  &__button.btn {
    margin-top: 131px;
    margin-left: 6px;

    grid-area: button;

    min-width: 298px;

    transition: transform $trans-default;

    @include vp-1023 {
      margin-top: 88px;
      padding-right: 20px;
      min-width: 97%;
    }

    @include vp-767 {
      margin-top: 0;
      margin-left: 0;
      width: 97%;

      padding: 20px;
      padding-right: 25px;
      height: 65px;
      font-size: 18px;
      border-radius: 10px;
    }

    @include hover-focus {
      opacity: 0.8;

      svg {
        transform: rotate(-90deg);
      }
    }
  }
}
