.header {
  padding-top: 46px;

  background-color: $color-transparent;

  @include vp-1023 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 38px;
  }

  .container {
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    gap: 64px;

    @include vp-1023 {
      padding: 0 40px;
      height: 50px;
    }

    @include vp-767 {
      height: 15px;
      padding: 0 25px;
    }
  }

  &__logo {
    color: $color-default-white;
  }
}
