.selection {
  padding: 46px 42px 48px 47px;
  width: 285px;
  height: fit-content;
  background-color: $color-pattens-blue;
  border-radius: 20px;
  order: 1;

  @include vp-1279 {
    width: 230px;

    padding: 46px 20px 48px;
  }

  @include vp-1023 {
    order: 0;
    padding: 37px 19px 37px 34px;

    width: 100%;
  }

  @include vp-767 {
    margin-top: 21px;
    padding: 25px;
    padding-bottom: 22px;
  }

  &__title {
    margin: 0;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;

    @include vp-1023 {
      margin-right: 14px;
      margin-bottom: 34px;
      padding-bottom: 38px;
      border-bottom: 1px solid $color-golden-dream;
    }

    @include vp-767 {
      margin: 0;
      padding-bottom: 21px;
      font-size: 22px;
      letter-spacing: 0.02em;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    @include vp-1023 {
      gap: 22px;
    }

    @include vp-767 {
      margin-top: 2px;
      gap: 1px;
    }
  }

  &__fieldset {

    &--transport {
      .selection__subtitle {
        margin-bottom: 16px;
      }
    }

    @include vp-1023 {
      display: flex;
      align-items: center;

      &--transport {
        margin-top: -4px;

        .selection__subtitle {
          margin-bottom: 0;
        }
      }
    }

    &--level {
      margin-top: 9px;
      margin-bottom: 17px;

      @include vp-1023 {
        margin: 0;
        margin-right: 16px;
        padding-bottom: 35px;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid $color-golden-dream;
      }

      @include vp-767 {
        margin: 0;
      }
    }

    @include vp-767 {
      flex-direction: column;
      border-bottom: 1px solid $color-golden-dream;

      &--transport {
        margin-top: 1px;
        align-items: flex-start;
      }

      &--level {
        padding-top: 12px;
        padding-bottom: 20px;
        border-bottom: none;
      }
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-1023 {
      margin-bottom: 0;
      width: 124px;
    }

    @include vp-767 {
      margin-bottom: 0;
      padding: 9px 0;
      width: 100%;
    }

    &--level {
      margin-bottom: 17px;

      @include vp-1023 {
        margin-bottom: 0;
      }

      @include vp-767 {
        margin: 0;
        padding: 0;
      }
    }

    @include hover-focus {
      opacity: 0.6;
      cursor: pointer;
    }

    &:hover:active {
      opacity: 0.3;
    }
  }

  &__subtitle.is-open .selection__button-toggle {
    span svg {
      transform: rotate(180deg);
    }
  }

  &__direction {
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;

    @include vp-1023 {
      width: 124px;
      line-height: 100%;

      &::after {
        content: ":";
        font-size: 20px;
        line-height: 100%;
      }
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 112%;

      &::after {
        display: none;
      }
    }
  }

  &__button-toggle {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-transparent;
    opacity: 1;

    @include vp-1023 {
      display: none;
    }

    @include vp-767 {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__icon-button {
    padding-bottom: 5px;
    width: 10px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include vp-767 {
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 17px;
    max-height: 0;
    transition: max-height $trans-default;
    overflow: hidden;

    @include vp-1023 {
      padding-bottom: 3px;
      width: 100%;
      max-height: 100%;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: visible;

      &:not(.selection__list--food) {
        padding-top: 3px;
        padding-right: 19px;

        @include vp-767 {
          padding: 0;
        }
      }
    }

    @include vp-767 {
      padding: 0;
      flex-direction: column;
      max-height: 0;
      gap: 7px;
      overflow: hidden;
    }


    &--food {
      @include vp-1023 {
        padding-top: 5px;

        .selection__item:last-child {
          width: 168px;
        }
      }

      @include vp-767 {
        padding: 0;
      }
    }

    &--transport {
      flex-direction: row;
      gap: 0;

      @include vp-1023 {
        padding-bottom: 0;
        width: 177px;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: visible;
      }

      @include vp-767 {
        width: 125px;
      }
    }
  }

  &__list.is-open {
    padding-bottom: 34px;

    max-height: 100%;

    @include vp-1023 {
      padding-bottom: 0;
    }

    @include vp-767 {
      margin-top: 5px;
      padding-bottom: 14px;
    }
  }

  &__list--transport.is-open {
    padding-bottom: 20px;
    flex-wrap: wrap;
    overflow: visible;

    @include vp-1023 {
      padding: 0;
      min-width: 180px;
      height: 50px;
      justify-content: space-between;
    }

    @include vp-767 {
      min-width: 125px;
    }
  }

  &__list--level.is-open {
    padding-bottom: 25px;

    @include vp-1023 {
      padding: 0;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include vp-767 {
      margin: 0;
      padding: 10px 0;
    }
  }

  &__item {
    width: 100%;
    height: 23px;
    word-break: break-all;

    @include vp-1023 {
      width: 150px;
    }

    @include vp-767 {
      width: 180px;
    }

    label {
      padding-top: 5px;
      padding-left: 45px;
      display: flex;
      align-items: center;

      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: $color-default-black;

      @include vp-1023 {
        padding-top: 0;
      }

      @include vp-767 {
        font-size: 15px;
        line-height: 133%;
        align-items: center;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }

    &--transport {
      width: 23%;
      height: 50px;

      label {
        padding-left: 0;
      }

      @include vp-767 {
        width: 19%;
      }
    }
  }

  &__item--transport:hover .selection__tooltip {
    display: flex;
  }

  &__checkbox-transport {
    position: relative;
    width: 43px;
    height: 43px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: $color-default-white;

    @include vp-767 {
      width: 32px;
      height: 32px;
    }

    label {
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      @include vp-767 {
        span {
          height: 15px;
        }
      }
    }

    input {
      width: 0;
    }

    .selection__transport-icon {
      opacity: 0.3;
    }

    input:checked + .selection__transport-icon {
      opacity: 1;
    }
  }

  &__tooltip {
    padding-top: 0;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    min-width: 170px;
    width: fit-content;

    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);

    svg {
      width: 14px;
      height: 8px;
    }
  }

  &__tooltip-text {
    padding: 18px 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: $color-default-white;
    background-color: #101d41;
    border-radius: 4px;
  }

  &__item .custom-toggle.custom-toggle--checkbox {
    padding: 0;
  }

  &__field {
    margin-bottom: 19px;
    width: 100%;
    max-width: 192px;
    height: 46px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    background-color: $color-default-white;

    border: 1px solid #cbced9;
    border-radius: 4px;

    @include vp-1023 {
      margin: 0;
      margin-top: -15px;
      width: 150px;
      max-width: 150px;
    }

    @include vp-767 {
      margin: 0;
      margin-bottom: 13px;
      width: 100%;
      max-width: 100%;
      height: 34px;
    }

    span {
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0.04em;

      @include vp-767 {
        font-size: 14px;
        line-height: 93%;
        letter-spacing: 0.07em;
      }
    }
  }

  &__label {
    position: relative;
    border-right: 1px solid #cbced9;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 20px;
      top: 50%;
      right: -10px;
      background-color: #cbced9;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      height: 15px;
      width: 20px;
      top: 35%;
      right: -10px;
      background-color: $color-default-white;
    }
  }

  &__value {
    padding: 9.5px;
    padding-bottom: 9px;
    width: 100%;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.04em;
    border: 1px solid $color-transparent;
    border-radius: 4px 0 0 4px;
    outline: none;

    @include vp-767 {
      padding: 7px;

      font-size: 14px;
      line-height: 93%;
      letter-spacing: 0.06em;
    }

    @include hover {
      cursor: pointer;
      border: 1px solid rgba($color-catalina-blue, 0.3);
    }

    &:focus {
      border: 1px solid $color-catalina-blue;
    }
  }

  &__slider {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      height: 13px;
      width: 13px;
      border-radius: 20px;
      background-color: $color-catalina-blue;
      transform: translateY(-50%);
    }

    @include vp-1023 {
      margin-top: 5px;
      width: 284px;
      order: -1;
    }

    @include vp-767 {
      width: 100%;
      order: 0;

      &::before {
        width: 10px;
        height: 10px;
        // right: 27px;
      }
    }
  }

  &__button {
    padding: 15px;
    padding-top: 20px;
    width: 100%;
    max-width: 194px;
    background-color: $color-default-white;

    @include vp-1023 {
      margin-top: 15px;
      margin-right: auto;
      max-width: 97%;
    }

    @include vp-767 {
      margin-top: -7px;
      margin-left: -5px;
      width: 100%;
      min-width: 230px;
      max-width: 100%;
      height: 41px;
      font-size: 17px;
      line-height: 100%;
    }

    @include hover-focus {
      opacity: 1;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
    }

    &:hover:active {
      background-color: $color-picton-blue;
    }
  }
}
