mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "О сервисе"
      },
      {
        href: "#",
        text: "Направления"
      },
      {
        href: "#",
        text: "Попутчики"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        .header__logo.logo
          .logo__fond
            picture
              source(type="image/webp", srcset="./img/content/logo.webp 1x, ./img/content/logo@2x.webp 2x", width="200", height="50")
              +img("content", "logo", "png", 200, 50, "Логотип сайта.")
          span.logo__text Погнали?
      else
        a.header__logo.logo(href="index.html", aria-label="Переход на главную")
          .logo__fond
            picture
              source(type="image/webp", srcset="./img/content/logo.webp 1x, ./img/content/logo@2x.webp 2x", width="200", height="50")
              +img("content", "logo", "png", 200, 50, "Логотип сайта.")
          span.logo__text Погнали?
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 25, 11)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              li.main-nav__item
                a.main-nav__link(href=link.href)= link.text
          .main-nav__buttons
              button.main-nav__button
                +icon("phone-btn", 16, 18)
              button.main-nav__button
                +icon("mail-btn", 16, 14)
